html {
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
	background-color: #BF3F3F;
}
h1 {
	font-size: 40px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: #BF3F3F;
	text-shadow: 3px 3px 3px black;
}

p, li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}

body {
	width: 1480px;
	margin: 0 auto;
	background-color: #FFFFFF;
	padding: 0 20px 20px 20px;
	border: 7px solid black;
}
img {
	display: block;
	padding: 0 20px 20px;
	margin: 0 auto;
}

/*主体布局*/

main {
	display:flex;
	
}

aside {
	flex:1;
	margin-left:10px;
	font-size:25px;
	background-color: #e4a53ba8;
	

}

aside ol {
	font-weight:30px;
	padding-bottom: 10px;
}
footer {
	margin-top:10px;
}

/*标题布局*/
header {
	padding: 40px 40px;
	font-size: 60px;
	color:Black;
	text-align: center;
	text-decoration: blink;
	background-color: #e4a53ba8;
	margin-bottom: 10px;
}

nav, aside, footer, article {
	background-color: #e4a53ba8;
	padding:1%;
}

nav {
	background-color:#e4a53ba8;
	display:flex;
	margin-bottom:10px;
}

nav ul {
	padding:0;
	list-style-type:none;
	flex:2;
	

}
nav li {
	display:inline;
	text-align:center:
	flex:1;
}

nav a {
	background-color: #DD934A;
	display: inline-block;
	font-size: 3rem;
	margin-left:10px;
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	transition-duration: 200ms;
}

nav form {
	flex: 1;
	display: flex;
	align-items: center;
	padding: 0 2em;
}

nav a:hover {
	color: white;
	text-shadow: 0 0 10px wheat;
	transition-duration: 200ms;
}

input {
    font-size: 1.6rem;
    height: 32px;
  }
  
 input[type="search"] {
    flex: 3;
  }
  
 input[type="submit"] {
    flex: 1;
    margin-left: 1rem;
    background: #333;
    border: 0;
    color: white;
  }


article {
	width:100%;
	display: inline-block;
	
}

