html {
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
	background-color: #BF3F3F;
}
h1 {
	font-size: 40px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: #BF3F3F;
	text-shadow: 3px 3px 3px black;
}

p, li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}

body {
	width: 1200px;
	margin: 0 auto;
	background-color: #FFFFFF;
	padding: 0 20px 20px 20px;
	border: 7px solid black;
}
img {
	display: block;
	margin: 0 auto;
}